.container {
  margin: 2rem;
  border-radius: 8px;
  padding: 1rem;
  color: #fff;
}

.describe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  color: #fff;
}

.inlineCard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 17%;
  background-color: rgba(35, 35, 35, 0.8);
  color: white;
  text-align: center;
  margin-bottom: 1.8rem;
  padding: 0.8rem 1rem;
  border-radius: 45px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.cardsContainer {
  position: relative;
  width: 100%;
  padding: 2rem;
}

.card {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  position: sticky;
  margin-top: 1rem;
  top: 20px; /* sticks to top */
  background: #1a1a1a;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
  color: white;
}

/* Left and Right sections */
.leftCard {
  flex: 1;
  border-right: 1px solid #555;
  padding-right: 1rem;
}

.rightCard {
  flex: 1;
  padding-left: 1rem;
}

.leftCard h3,
.rightCard h3 {
  margin-bottom: 0.5rem;
}

.leftCard p,
.rightCard p {
  color: #ccc;
}

/* Mobile */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }
  .leftCard {
    border-right: none;
    border-bottom: 1px solid #555;
    padding-bottom: 1rem;
  }
  .rightCard {
    padding-left: 0;
    padding-top: 1rem;
  }
}
